<ion-view view-title="设置">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right" ng-click="downloadData()">
        同步云端数据（本机现有{{allCount}}篇文章
        <div ng-if="allCount == 0 && updateCount !== 'x400'">，点击同步文章）</div>
        <div ng-if="allCount > 0 && updateCount == 0">，无更新内容）</div>
        <div ng-if="updateCount !== undefined && updateCount > 0">，有{{updateCount}}篇文章须更新）</div>
        <div ng-if="updateCount < 0">）</div>
        <div ng-if="updateCount == 'x400'">，网络未通，未知更新内容）</div>
        <i class="icon ion-android-download"></i>
      </ion-item>
      <ion-item class="item-icon-right" ng-click="clean()">
        清除缓存
        <i class="icon ion-trash-a"></i>
      </ion-item>
      <ion-item class="item-divider">
        关于
      </ion-item>
      <ion-item ng-click="update()">
        当前版本
        <span class="item-note">
          {{versionName}}
        </span>
      </ion-item>
      <ion-item class="item-icon-right" href="#/tab/us">
        功能说明
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" ng-click="openPopover($event)">
        联系我们
        <i class="icon ion-android-mail"></i>
      </ion-item>
     <!-- <ion-item class="item-icon-right" href="#/tab/interface">
        接口
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>-->
      <ion-item class="item-icon-right" ng-click="logout($event)">
        退出
        <i class="icon ion-log-out"></i>
      </ion-item>
    </ion-list>
    <div id="copyright" style="text-align:center;">
      &copy; {{now | date:'yyyy'}} 技术支持：上海百姓软件有限公司
    </div>
  </ion-content>
</ion-view>
