<ion-view view-title="最新">
  <ion-content ><!-- class="padding" -->
    <div id="search-bar">
      <div class="item item-input-inset">
        <label class="item-input-wrapper" id="search-input">
          <i class="icon ion-ios-search-strong placeholder-icon"></i>
          <input type="search" placeholder="搜索" ng-model="searchData.query" ng-keypress="searchButton($event)" ng-focus="focus()" ng-blur="onblur()"
                 autocorrect="off"/>
          <!-- <button class="button button-icon icon ion-ios7-close-empty"  ng-click="clearSearch()"></button> -->
        </label>
        <button class="button button-clear" ng-click="clearSearch()" ng-if="isCleanButton">取消</button>
      </div>
    </div>
    <ion-refresher pulling-text="下拉刷新..." pulling-icon="ion-android-arrow-down" on-refresh="doRefresh()" refreshing-text="刷新成功" refreshing-icon="ion-loading-c" >
    </ion-refresher>
    <div class="list">
      <ion-list >
        <ion-item  class="item-avatar" ng-repeat="article in articles" href="#/tab/newestArticle/{{article.docid}}"
                   collection-item-width="'100%'" >
          <img ng-src="img/Wordpad.png">
          <h2 style="overflow: auto; text-overflow: clip;white-space:normal;">{{article.tBt}}</h2>
          <p class="summary">
            <span ng-if="!searchFlag"><span style="background-color: #80bd01;color: #fff;border-radius: 2px;padding: 2px 4px;">最新</span> {{article.lm}}<span ng-if="article.sublm">/{{article.sublm}}</span></span>
            <span ng-if="searchFlag" ng-bind-html="article.lm | to_trusted" style="overflow: auto; text-overflow: clip;white-space:normal;"></span>
          </p>
        </ion-item>
      </ion-list>

    </div>
  </ion-content>
</ion-view>
