<ion-view view-title="详情">

  <ion-content delegate-handle="articleContent">
    <h2 style="position: relative;left: 10px;top:5px;font-size:18px;font-weight:bold;text-align:center;">{{article.tBt}}</h2>
    <!-- <h4>浏览次数：{{article.viewCount}}</h4> -->
    <div>
      <div style="width:800px;height:1px;margin:0px auto;padding:0px;background-color:#D5D5D5;overflow:hidden;"></div>
      <div style="position: relative;top:20px;">
        <div><span ng-bind-html="article.tZw | to_trusted"></span></div>
      </div>
    </div>
    <!-- <ion-infinite-scroll on-infinite="loadMore()" distance="10%" icon="ion-loading-c" ng-if="noMoreAvailable">
    </ion-infinite-scroll> -->
  </ion-content>
</ion-view>
