<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="最近更新" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/newest">
    <ion-nav-view name="tab-newest"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="执法工作手册" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/folder/执法工作手册//">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="常用法律法规" icon-off="ion-android-folder-open" icon-on="ion-android-folder" href="#/tab/laws/常用法律法规//">
    <ion-nav-view name="tab-laws"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
